body {
     margin: 0;
     font-family: sans-serif;
}

.container {
    width: 1000px; 
    margin-left: calc(50% - 500px);
    margin-bottom: 30px;
    display: inline-block;
}
.container:first-child {
    margin-top: 30px;
}

.logo {
    width: 100px;
    height: 40px;
    float: left;
    object-fit: contain;
    object-position: left;
}

.main-menu {
    
    float: right;
    margin-top: 10px;
}

.link {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-left: 2em;
    display: inline-block;
    line-height: 1em;
}

.link:first-child {
    margin-left: 0;
}
.link:hover { /*:hover = pseudo selektoriai*/
    color: azure;
    text-decoration: underline;
    background-color: rgb(211, 173, 247);
}
.link:last-child {
    color: #923dca;
}

main > img {
    width: 50%;
}

.left-column {
 width: 40%;
 float: left;
}

.main-title {
    font-size: 50px;
    color:#222222;
    font-weight: normal;
}

.main-title > span {
    font-weight: bold;
    /*display: inline-block;*/ /*sitas perkeltu i nauja eilute jei teksto eilute netilptu todel nevisada veikia*/
    display: block;
}

.description {
    font-size: 15px;
    width: 75%;
}

.button { /* sitas kad visi "mygtukai" butu tam tikrais aspektais vienodais*/
    text-transform: uppercase;
    text-decoration: none;
    background-color: #662c8c;
    color: #fff;
    font-size: 16px;
    line-height: 1.3em; /*kartais verta nustatyti line-height, nes narsyklese jis skirtingas pagal automatini nustatyma*/
    padding: 0.9em; 
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 1em;
    border-radius: 1.7em; /*apskaiciuojame dydi: (padding*2[visus ir apacia] + line-hight + (boder *2 [jeigu yra]) / 2
    float: left; /* kad butu vienas salia kito*/
    /* galima butu naudoti ir display: inline-block; /*kad butu vienas salia kito*/
   /*rekomenduotina kartais naudoti em matavimo vieneta kad proporcingai keistusi dydziai*/
    border: 0.15em solid#662c8c;
}

.button:last-child {
    background-color: #fff;
    color: #662c8c;
}

.button:hover {
    box-shadow: 0px 5px 10px #20102569; /*pirmasis horozontaliai, antrasis vertikaliai, treciasis bluras, ketvirtasis-zoomas, isdidina visa seseli*/
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.558); 
}

.right-column {
    width: 55%;
    float: right;
}
.right-column > .img-grey, 
.right-column:hover > .img-color {
    display: block;
}

.right-column > .img-color,
.right-column:hover > .img-grey  {
    display: none;
}



.socials{
    float: left;
}

.socials > .icon {
    margin-right: 1em;
    line-height: 1em;
    font-size: 20px;
    color: #999;
    text-decoration: none;
}

.socials > .icon:last-child {
    margin-right: 0;
}

.copyright {
float: right;
margin: 0;
}

.socials > .icon:hover {
color: #662c8c;
}

/* 
Labai svarbu isdestymo eiliskumas



*/