body {
     margin: 0;
}

header, main, footer {
    background-color: aqua;
    width: 800px; 
    margin-left: calc(50% - 400px);
    margin-bottom: 30px;
}
header {
    margin-top: 30px;
}

img {
    width: 100px;
    height: 40pxo;
    float: left;
    object-fit: contain;
    object-position: left;
    background-color: antiquewhite;
}

nav {
    float: right;
}

a {

}

